<div class="container_login">
  <h1>OneMed</h1>
  <div class="inputs">
    <input type="text" class="inp" placeholder="Nome completo">
     <input type="text" class="inp" placeholder="E-mail">
     <input type="text" class="inp" placeholder="Senha">  
  </div>
  <a class="link" routerLink="/login" routerLinkActive="active">Ja tem acesso? entre</a><br>

  <div class="container-button">
    <a class="btn-cadastrar" routerLinkActive="active" routerLink="/tabs/home">
     <ion-icon class="seta" name="arrow-forward"></ion-icon>
    </a>
  </div>
</div>
