<div class="container-lista">
  <a class="link" routerLink="/tabs/home" routerLinkActive="active" >
    <ion-icon class="seta" name="arrow-back"></ion-icon>
    Lista de enfermeiros
  </a>

  <div padding>
    <form class="frm" method="post" (ngSubmit)="buscarEnfermeiro()">
      <div class="form-group">
        <ion-item class="inp" fill="outline">
          <ion-label position="floating">Nome</ion-label>
          <ion-input class="inp" placeholder="Nome" type="text" name="nome" id="nome" [(ngModel)]="nome " required ></ion-input>
        </ion-item>
      </div>
      <div class="buttons">
        <button class="btnBuscar">
          Buscar
        </button>
        <button class="btnLimpar">Limpar</button>
      </div>
    </form>

    <ng-container *ngIf="enfermeiroBusca.length">
      <ion-row style="background: #f2f2f2;" class="row" *ngFor="let busca of enfermeiroBusca">
        <ion-col class="valor">{{ busca.nome }}</ion-col>
        <ion-col class="valor">{{ busca.cre }}</ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="!enfermeiroBusca.length">
      <ion-row class="row" *ngFor="let enfermeiro of enfermeiros">
        <ion-col class="valor">{{ enfermeiro.nome }}</ion-col>
        <ion-col class="valor">{{ enfermeiro.cre }}</ion-col>
      </ion-row>
    </ng-container>

  </div>
</div>
