<div class="container-lista">
  <div class="fundo-link">
    <a class="link" routerLink="/tabs/home" routerLinkActive="active" >
      <ion-icon class="seta" name="arrow-back"></ion-icon>
      Lista de medicos
    </a>
  </div>

  <div padding>
    <form class="frm" method="post" (ngSubmit)="buscarMedico()">
      <div class="form-group">
        <ion-item class="inp" fill="outline">
          <ion-label position="floating">Nome</ion-label>
          <ion-input placeholder="Nome" type="text" name="nome" id="nome" [(ngModel)]="nome " required ></ion-input>
        </ion-item>
      </div>
      <div class="buttons">
        <button class="btnBuscar" type="submit">
          Buscar
        </button>
        <button class="btnLimpar" (click)="LimparTabela()">Limpar</button>
      </div>
    </form>

    <ng-container *ngIf="medicoBusca.length">
      <div padding class="container_dados">
        <ion-row class="row" (click)="redirecionarDetalhe(busca.id)" *ngFor="let busca of medicoBusca">
          <ion-col>{{ busca.nome }}</ion-col>
          <ion-col>{{ busca.crm }}</ion-col>
        </ion-row>
      </div>
    </ng-container>
    <ng-container *ngIf="!medicoBusca.length">
      <div padding class="container_dados">
        <ion-row class="row" (click)="redirecionarDetalhe(medico.id)" *ngFor="let medico of medicos">
          <ion-col>{{ medico.nome }}</ion-col>
          <ion-col>{{ medico.crm }}</ion-col>
        </ion-row>
    </div>
    </ng-container>
  </div>


</div>
