<div class="container-lista">
  <a class="link" routerLink="/tabs/home" routerLinkActive="active" >
    <ion-icon class="seta" name="arrow-back"></ion-icon>
    Cadastro de medicos
  </a>

  <div padding>
    <ion-grid class="table">
      <ion-row class="table-line">
        <ion-col class="line_value">Nome</ion-col>
        <ion-col class="line_value">Especialidade</ion-col>
        <ion-col class="line_value crm_value">CRM</ion-col>
      </ion-row>
      <div>
        <ion-row class="row2">
          <ion-col class="valor"></ion-col>
          <ion-col class="valor"></ion-col>
          <ion-col class="valor"></ion-col> 
        </ion-row>
      </div>
    </ion-grid>
  </div>
</div>