*{
  padding: 0;
}

.link{
  text-decoration: none;
  color: #757575;
  font-size: 1.2em;
  margin-right: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;

  .seta{
    color: #757575;
    margin-right: 15px;
    font-size: 1.3em;
  }

}

.container-cadastro{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100%;

  h3{
    text-align: center;
    color: #757575;
    font-weight: bold;
    margin: 30px 0;
  }

  .btn{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin: 50px 0;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #073A79;
  }

  .inp{
    margin-bottom: 10px;
  }
}

.inp-select{
  width: 300px;
}

