<div class="container_home">
  <h1 class="titulo">Bem vindo ao OneMed</h1>
  <p class="subtitulo" >Seu aplicativo de gestão hospitalar</p>
  <div class="container_buttons">
    <div>
      <a routerLink="/cadastro-medicos" routerLinkActive="active" class="buttons">
          <img src="../../assets/iconMedico.png" alt="cadastro medico">
      </a>
      <p>Cadastro médicos</p>
    </div>

    <div>
      <a routerLink="/cadastro-enfermeiros" routerLinkActive="active" class="buttons">
        <img src="../../assets/iconEnfermeiro.png" alt="cadastro enfermeiro">
      </a>
      <p>Cadastro enfermeiros</p>
    </div>

    <div>
      <a href="" class="buttons" routerLinkActive="active" routerLink="/cadastro-pacientes">
        <img src="../../assets/iconPaciente.png" alt="cadastro paciente">
      </a>
      <p>Cadastro pacientes</p>
    </div>

    <div>
      <a href="" class="buttons">
        <img src="../../assets/iconPlano.png" alt="cadastro plano de saude">
      </a>
      <p>Cadastro Planos de saude</p>
    </div>
  </div>

  <div class="container_listas">
      <div class="container-items">
        <div routerLinkActive="active" routerLink="/lista-medicos" class="item">
          <img src="../../assets/listaIcon.png" alt="icone lista">
          <p>Listar médicos</p>
        </div>
        <div routerLinkActive="active" routerLink="/lista-enfermeiros" class="item">
          <img src="../../assets/listaIcon.png" alt="icone lista">
          <p>Listar enfermeiros</p>
        </div>
        <div class="item">
          <img src="../../assets/agendaIcon.png" alt="icone calendario">
          <p>Agendar consulta</p>
        </div>
        <div class="item">
          <img src="../../assets/planoIcon.png" alt="icone plano de saude">
          <p>Planos de saúde</p>
        </div>
      </div>
  </div>
</div>
