<div class="container_home">
  <h1 class="titulo">Bem vindo ao OneMed</h1>
  <p class="subtitulo" >Seu aplicativo de gestão hospitalar</p>
  <div class="container_buttons">
    <div>
      <a routerLink="/cadastro-medicos" routerLinkActive="active" class="buttons">
          <img src="../../assets/iconMedico.png" alt="cadastro medico">
      </a>
      <p>Cadastro médicos</p>
    </div>

    <div>
      <a href="" class="buttons">
        <img src="../../assets/iconEnfermeiro.png" alt="cadastro enfermeiro">
      </a>
      <p>Cadastro enfermeiros</p>
    </div>

    <div>
      <a href="" class="buttons">
        <img src="../../assets/iconPaciente.png" alt="cadastro paciente">
      </a>
      <p>Cadastro pacientes</p>
    </div>

    <div>
      <a href="" class="buttons">
        <img src="../../assets/iconPlano.png" alt="cadastro plano de saude">
      </a>
      <p>Cadastro Planos de saude</p>
    </div>

  </div>
</div>
